{% assign have_related = false %}

{%- for post in site.posts -%}
  {%- if post.url != page.url -%}

    {%- for tag in post.tags -%}
      {%- if page.tags contains tag -%}
        {%- assign have_related = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if have_related == false -%}
      {%- for category in post.categories -%}
        {%- if page.categories contains category -%}
          {%- assign have_related = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  
  {%- endif -%}
{%- endfor -%}


{%- if have_related -%}

  {%- assign related = false -%}
  {%- assign related_count = 0 -%}
  {%- assign related_max = 5 -%}

  <aside class="related">
    <h3>Related Posts</h3>
    <ul class="related-posts">
      {%- for post in site.posts -%}
        {%- if post.url != page.url -%}

          {%- for tag in post.tags -%}
            {%- if page.tags contains tag -%}
              {%- assign related = true -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if related == false -%}
            {%- for category in post.categories -%}
              {%- if page.categories contains category -%}
                {%- assign related = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- if related -%}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </li>
            {%- assign related_count = related_count | plus: 1 -%}
            {%- assign related = false -%}
          {%- endif -%}

          {%- if related_count >= related_max -%}
            {%- break -%}
          {%- endif -%}

        {%- endif -%}
      {%- endfor -%}
    </ul>
  </aside>

{%- endif -%}
