.post-meta {
  color: var(--body-color-light);
  font-size: .8em;
}

.post-meta-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacer);
}

.post-category {
  font-weight: bold;

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--body-color-dark);
    }
  }
}

.post-time-author {
  text-align: right;
}

.post-cover {
  background: var(--body-fg) center center;
  background-size: cover;
  margin: 0 -12vw var(--spacer);
  height: 300px;
  border-radius: var(--border-radius);
}

.post-meta-bottom {
  margin: var(--spacer-2) 0;
}

.post-tag {
  background-color: var(--accent-color);
  color: var(--body-bg);
  padding: .2em .5em;
  border-radius: var(--border-radius);
  opacity: .7;
}

a.post-tag {
  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--body-fg);
    opacity: 1;
  }
}

.related {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-top: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--body-color-light);
  border-bottom: 1px solid var(--body-color-light);

  h3 {
    margin-top: 0;
  }
}

.related-posts {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--body-color-dark);
    }
  }

  small {
    color: var(--body-color-light);
  }
}

.message {
  padding: var(--spacer);
  border-radius: var(--border-radius);
  background-color: var(--message-color);
  color: var(--body-bg);
}

@media screen and (min-width: $screen-laptop) {
  .post-cover {
    height: 400px;
  }
}
